<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COVI9-19-UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>COVID-19 WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>COVID-19 WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>COVID-19-API watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>COVID-19-UI-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>COVID-19-UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>COVID-19.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D08E858224288A4C00871F2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09787E3242D919B00ED03BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A9434C24283DA500C3B4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A9436224283DA800C3B4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A9436D24283DA800C3B4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A9437624283DA800C3B4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A943B324283EB100C3B4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
